@font-face {
  font-family: ser;
  src: url(./63cffc20aa8997095067596f_Satoshi-Light.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ser;
}
html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #121212;
  color: rgb(216, 216, 216);
  font-size: clamp(14px, 1vw, 18px);
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
section {
  max-width: 2000px;
}
main {
  width: 100%;
  @include flex-column(0rem);
  align-items: center;

  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }

    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 400;
          font-size: 2.9rem;
          text-transform: uppercase;
        }
        p {
          font-weight: 100;
          opacity: 0.8;
          font-size: 1rem;
          line-height: 1.5;
        }
        button {
          width: fit-content;
          border: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  section.view2 {
    @include flex-column(2.5rem);
    width: 100%;
    padding: 1rem;
    .top,
    .bottom {
      display: flex;
      width: 100%;
      justify-content: space-around;
      .element {
        text-align: center;
        @include flex-column(0.2rem);
        small {
          opacity: 0.6;
        }
        h2 {
          font-size: 3rem;
          font-weight: 300;
        }
      }
    }
  }
  section.view3 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom > p {
      text-transform: uppercase;
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 400;
          font-size: 2.9rem;
          text-transform: uppercase;
        }
        p {
          font-weight: 100;
          opacity: 0.8;
          font-size: 1rem;
          line-height: 1.5;
        }
        button {
          width: fit-content;
          border: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  section.view4 {
    @include flex-column(1rem);
    width: 100%;
    padding: 1rem;
    .top {
      width: 100%;
      img {
        width: 100%;
        border-radius: 0.7rem;
      }
    }
    .bottom > p {
      text-transform: uppercase;
    }
    .bottom {
      background-color: #1e1e1e;
      border-radius: 0.7rem;
      padding: 1.5rem;
      @include flex-column(3rem);

      .text {
        @include flex-column(0.7rem);

        h1 {
          font-weight: 400;
          font-size: 2.6rem;
          text-transform: uppercase;
        }
        p {
          font-weight: 100;
          opacity: 0.8;
          font-size: 1rem;
          line-height: 1.5;
        }
        button {
          width: fit-content;
          border: none;
          padding: 0.7rem 1rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1rem;
          h1 {
            font-size: 3rem;
          }
          p {
            width: 90%;
            font-size: 1.2rem;
          }
        }
      }
    }
    section.view2 {
      flex-direction: row;
      padding: 1rem 4rem;
    }
    section.view3 {
      flex-direction: row-reverse;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        .paragraphs {
          display: flex;
          gap: 2rem;
        }
      }
    }
    section.view4 {
      flex-direction: row;
      padding: 1rem 4rem;

      .top,
      .bottom {
        width: 50%;
      }
      .bottom {
        justify-content: space-between;
        .paragraphs {
          display: flex;
          gap: 2rem;
        }
      }
    }
  }
}
